body {
    background-image: url(Card_Deck/a-topview-of-a-wooden-table-vector.jpg);
    background-size: cover;
}

h1 {
    font-size:60px ;
    color: rgb(0, 0, 0);
    text-align: center;
}

form{
    justify-content: center;
    display: flex;
    margin-top: 4%;
}

#parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#result{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-self: center;
}